<!-- templates/quiz/end_quiz_modal.html -->
{% extends "layout.html" %}
{% block content %}
<script>
  window.onload = () => {
    $('#endQuizModal').modal('show');
  }
</script>
<div class="modal fade show" id="endQuizModal" tabindex="-1" style="display:block;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title w-100">🎉 Quiz Completed!</h5>
      </div>
      <div class="modal-body">
        <p>You've reached the end of this quiz. Good job!</p>
      </div>
      <div class="modal-footer">
        <a href="{{ url_for('quiz_bp.quiz_result') }}" class="btn btn-primary w-100">View Results</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
